<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Welcome {{ session['name'] }}</h1>

<h2>Total Expenses : ₹{{ total }}</h2>
<h2>Monthly Budget : ₹{{ budget }}</h2>
<h2>Remaining Budget : ₹{{ remaining }}</h2>

<a href="/budget">Set Budget</a> |
<a href="/reports">Reports</a>

<hr>
    <a href="/add-expense">
    <button>Add Expense</button>
</a>

<br><br>

<h2>Expense History</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
    </tr>

    {% if expenses %}

        {% for e in expenses %}
        <tr>
            <td>₹{{ e.amount }}</td>
            <td>{{ e.category }}</td>
            <td>{{ e.description }}</td>
        </tr>
        {% endfor %}

    {% else %}

        <tr>
            <td colspan="3" align="center">
                No expenses added yet.
            </td>
        </tr>

    {% endif %}

</table>
<a href="/logout">
    <button>Logout</button>
</a>
</body>
</html>
