<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <div class="container">

<h1>Expense Reports</h1>

<table border="1">
    <tr>
        <th>Category</th>
        <th>Total Expense</th>
    </tr>

    {% for e in expenses %}
    <tr>
        <td>{{ e.category }}</td>
        <td>₹{{ e.total }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/dashboard">
    Back to Dashboard
</a>
     </div>

</body>
</html>
